<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="com.yzeng.mapper.menu.MenuMapper">
	<select id="getAllMenu" resultType="MenuVo">
		select id,`name`,type,`key`,url,isParent,pId,needAuth from w_menu m where m.status=1
	</select>	
</mapper>
